body{
    background-image: url("image/fulm.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment:fixed;
    background-size:cover;
}
p{
    font-size: larger;
    color: azure;
}
h3{ font-size: 40px;
    color: rgb(231, 233, 255);
}
nav{
    background-color:rgba(108, 106, 136, 0.5);
   /* şeffaf arka plan anv için */
}
ul{
    color: rgb(217, 237, 255);
}
.nav-link{
    margin-right: 20px;
 
   color: rgb(96, 198, 120);
}

a.nav-link:hover{
    background-color: rgb(9, 5, 67);
    color: rgb(186, 217, 249);

}
/* bulunduğu sayfanın hangisi olduğunu belirtmek için  */
.nav-link.disabled{
    color: rgb(238, 234, 234);
}
