*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: rgb(209, 132, 132);
}
.container{
   position: absolute; 
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 1000px;
   height: 600px;
   background: rgb(255, 193, 193);
   box-shadow: 0 30px 50px rgb(177, 165, 165);
}
.container .slide .item{
width: 200px;
height: 300px;
position: absolute;
top: 50%;
transform: translate(0, -50%);
border-radius: 20px;
box-shadow: 0 30px 50px  rgb(177, 165, 165) ;
}